<main>
  <button class="btn2" (click)="toggleAddModal()">Ajouter un Fournisseur</button>
  <br><br><br>
  <div class="suppliers-table-container">
    <table>
      <thead>
        <tr>
          <th>Nom</th>
          <th>Email</th>
          <th>Telephone</th>
          <th>Adresse</th>
          <th>Designation</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let fournisseur of fournisseurs">
          <td>
            {{ fournisseur.nom }}
            <i *ngIf="isTopSupplier(fournisseur)" class="fas fa-star star-icon"></i> <!-- Star icon for top suppliers -->
          </td>
          <td>{{ fournisseur.email }}</td>
          <td>{{ fournisseur.telephone }}</td>
          <td>{{ fournisseur.adresse }}</td>
          <td>{{ fournisseur.designation }}</td>
          <td>
            <button class="icon-button" (click)="deleteFournisseur(fournisseur.id)">
              <i class="fas fa-trash"></i>
            </button>
            <button class="icon-button" (click)="selectFournisseur(fournisseur)">
              <i class="fas fa-edit"></i>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <!-- Update Fournisseur Modal -->
  <div id="updateFournisseurModal" class="modal" [class.show]="showModal">
    <div class="rectangle">
      <span class="close" (click)="closeModal()">&times;</span>
      <form #fournisseurForm="ngForm" (ngSubmit)="submitUpdate()">
        <h2 style="text-align: center;">Modifier le Fournisseur</h2>
        <label for="nom">Nom:</label>
        <input type="text" id="nom" name="nom" [(ngModel)]="selectedFournisseur.nom" required>
        <label for="email">Email:</label>
        <input type="text" id="email" name="email" [(ngModel)]="selectedFournisseur.email" required>
        <label for="telephone">Telephone:</label>
        <input type="text" id="telephone" name="telephone" [(ngModel)]="selectedFournisseur.telephone" required>
        <label for="adresse">Adresse:</label>
        <input type="text" id="adresse" name="adresse" [(ngModel)]="selectedFournisseur.adresse" required>
        <label for="designation">Designation:</label>
        <input type="text" id="designation" name="designation" [(ngModel)]="selectedFournisseur.designation" required>
        <button type="submit">Modifier</button>
      </form>
    </div>
  </div>

  <!-- Add Fournisseur Modal -->
  <div id="addFournisseurModal" class="modal" [class.show]="showAddModal">
    <div class="rectangle">
      <span class="close" (click)="closeAddModal()">&times;</span>
      <form #addFournisseurForm="ngForm" (ngSubmit)="submitAddFournisseur()">
        <h2>Ajouter un Fournisseur</h2>
        <label for="nom">Nom:</label>
        <input type="text" id="nom" name="nom" [(ngModel)]="newFournisseur.nom" required>
        <label for="email">Email:</label>
        <input type="text" id="email" name="email" [(ngModel)]="newFournisseur.email" required>
        <label for="telephone">Telephone:</label>
        <input type="text" id="telephone" name="telephone" [(ngModel)]="newFournisseur.telephone" required>
        <label for="adresse">Adresse:</label>
        <input type="text" id="adresse" name="adresse" [(ngModel)]="newFournisseur.adresse" required>
        <label for="designation">Designation:</label>
        <input type="text" id="designation" name="designation" [(ngModel)]="newFournisseur.designation" required>
        <button class="btn3" type="submit">Ajouter</button>
      </form>
    </div>
  </div>
</main>

<style>
  .star-icon {
    color: orange;
    margin-left: 5px;
  }
</style>
