<header class="header">
    <div class="logo">
        <img src="assets/omegalogo.jpeg" alt="OmegaSoft Logo">
    </div>
    <nav class="navigation">
        <a routerLink="/fournisseur">Fournisseurs</a>
        <a routerLink="article">Articles</a>
        <a routerLink="famille">Familles</a>
        <a routerLink="bondecommande">Bon de Commande</a>
        <a routerLink="login">Connexion</a>
        <a routerLink="">À propos</a>
        <a routerLink="home">Accueil</a>
        <a routerLink="">Contactez nous</a>
    </nav>
</header>