<header class="header">
  <div class="logo">
    <img src="assets/omegalogo.jpeg" alt="OmegaSoft Logo">
  </div>
  <nav class="navigation">
    <a routerLink="home">
      <i class="fas fa-home"></i> Accueil
    </a>
    <a routerLink="fournisseur">
      <i class="fas fa-truck"></i> Fournisseurs
    </a>
    <a routerLink="article">
      <i class="fas fa-box"></i> Articles
    </a>
    <a routerLink="famille">
      <i class="fas fa-tags"></i> Familles
    </a>
    <a routerLink="bondecommande">
      <i class="fas fa-file-alt"></i> Bon de Commande
    </a>
    <a routerLink="/comments">
      <i class="fas fa-comment"></i> Commentaires
    </a>
    <a routerLink="/login" *ngIf="!authService.isAuthenticated()">
      <i class="fas fa-sign-in-alt"></i> Login
    </a>
    <a routerLink="/signup" *ngIf="!authService.isAuthenticated()">
      <i class="fas fa-user-plus"></i> Signup
    </a>

 


    <a (click)="logout()" *ngIf="authService.isAuthenticated()">
      <i class="fas fa-sign-out-alt"></i> Logout
    </a>
  </nav>
  </header>
  