.navigation {
    display: flex;
    gap: 20px; /* Adjust spacing between items */
  }
  
  .navigation a {
    display: flex;
    align-items: center;
    padding: 0.5rem 1rem;
    text-decoration: none;
    color: #333;
    border-radius: 25px; /* This will help in making the hover effect elliptical */
    transition: background-color 0.3s, box-shadow 0.3s;
  }
  
  .navigation a i {
    margin-right: 0.5rem;
    color: orange; /* Change icon color to orange */
  }
  
  .navigation a:hover {
    background-color: black; /* Change background color to black on hover */
    color: white; /* Change text color to white on hover */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Make the elliptical shadow smaller */
  }
  
  .navigation a:hover i {
    color: white; /* Change icon color to white on hover */
  }
  
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #ffffff;
  }
  
  .logo {
    display: flex;
    align-items: center;
  }
  
  .logo img {
    width: 250px;
    /* Adjust as needed */
  }
  