<main>
  <button class="btn2" (click)="toggleAddModal()">Ajouter un Article</button>
  <br><br><br>
  <div class="articles-table-container">
    <table>
      <thead>
        <tr>
          <th>Nom</th>
          <th>Description</th>
          <th>Prix</th>
          <th>Image</th>
          <th>Date de Création</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let article of articles">
          <td>{{ article.nomArticle }}</td>
          <td>{{ article.description }}</td>
          <td>{{ article.prix | number:'1.2-2' }}</td>
          <td><img [src]="article.imageArticle" alt="Article Image" style="width: 50px; height: auto;"></td>
          <td>{{ article.dateCreation | date:'mediumDate' }}</td>
          <td>
            <button (click)="deleteArticle(article.id)">Supprimer</button>
            <button (click)="toggleModal(); selectArticle(article)">Modifier</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <!-- Update Article Modal -->
  <div id="updateArticleModal" class="modal" [class.show]="showModal">
    <div class="rectangle">
      <span class="close" (click)="closeModal()">&times;</span>
      <form #articleForm="ngForm" (ngSubmit)="submitUpdate(articleForm.value)">
        <h2 style="text-align: center;">Modifier</h2>
        <label for="nomArticle">Nom:</label>
        <input type="text" id="nomArticle" name="nomArticle" [(ngModel)]="selectedArticle.nomArticle" ngModel required>
        <label for="description">Description:</label>
        <input type="text" id="description" name="description" [(ngModel)]="selectedArticle.description" ngModel required>
        <label for="prix">Prix:</label>
        <input type="number" id="prix" name="prix" [(ngModel)]="selectedArticle.prix" ngModel required>
        <label for="imageArticle">Image URL:</label>
        <input type="text" id="imageArticle" name="imageArticle" [(ngModel)]="selectedArticle.imageArticle" ngModel required>
        <!-- <label for="dateCreation">Date de Création:</label>
        <input type="date" id="dateCreation" name="dateCreation" [(ngModel)]="selectedArticle.dateCreation" ngModel required> -->
        <button type="submit">Modifier</button>
      </form>
    </div>
  </div>

  <!-- Add Article Modal -->
  <div id="addArticleModal" class="modal" [class.show]="showAddModal">
    <div class="rectangle">
      <span class="close" (click)="closeAddModal()">&times;</span>
      <form #addArticleForm="ngForm" (ngSubmit)="submitAddArticle()">
        <h2>Ajouter un Article</h2>
        <label for="nomArticle">Nom:</label>
        <input type="text" id="nomArticle" name="nomArticle" [(ngModel)]="newArticle.nomArticle" ngModel required>
        <label for="description">Description:</label>
        <input type="text" id="description" name="description" [(ngModel)]="newArticle.description" ngModel required>
        <label for="prix">Prix:</label>
        <input type="number" id="prix" name="prix" [(ngModel)]="newArticle.prix" ngModel required>
        <label for="imageArticle">Image URL:</label>
        <input type="text" id="imageArticle" name="imageArticle" [(ngModel)]="newArticle.imageArticle" ngModel required>
        <!-- <label for="dateCreation">Date de Création:</label>
        <input type="date" id="dateCreation" name="dateCreation" [(ngModel)]="newArticle.dateCreation" ngModel required> -->
        <button class="btn3" type="submit">Ajouter</button>
      </form>
    </div>
  </div>
</main>
