.login-wrapper {
  position: relative;
  max-width: 400px;
  margin: 50px auto;
}

.login-container {
  position: relative;
  width: 400px;
  height: 800px;

  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 50px; /* Pour correspondre au rayon du coin du rectangle gris */
  background-color: white;
  z-index: 1; /* Assurez-vous que le formulaire est au-dessus du rectangle */
  transform: translate(288px, 0px); 
}

.background-rectangle {
  position: absolute;
  top: 0;
  left: -210px; /* Ajustez cette valeur selon la largeur et la position souhaitée */
  background-color: #f0f0f0; /* Couleur de fond du rectangle */
  z-index: -1; /* Place le rectangle derrière le formulaire */
  width: 900px; /* Augmentez la largeur du rectangle gris */
  height: 95%; /* Augmentez la hauteur pour plus d'espace vertical */
  border-radius: 50px; /* Pour correspondre au rayon du coin du rectangle gris */

  padding: 20px;
}

h2 {
  text-align: center;
  margin-top: 20px;
}

form div {
  margin-bottom: 15px;
  margin-top: 10px;
}

label {
  display: block;
  margin-bottom: 5px;
  margin-top: 60px;
}

input {
  width: 100%;
  height: 50px;
  padding: 8px;
  box-sizing: border-box;
  border-radius: 50px;
  border: 1.02px solid #36FEF2;
  background-color: #EBEBEB;
  margin-top: 30px;
}

button {
  padding: 10px;
  background-color: transparent;
  color: rgb(26, 25, 25);
  height: 40px;
  width: 80px;
  border-radius: 16px;
  border: 1.02px solid #1b1919;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  margin-top: 20px;
}

button:hover {
  background-color: #36FEF2;
}

.signup-message {
  margin-top: 20px;
  text-align: center;
  color: #1b1919;
 font-weight: 900;
}

.signup-message a {
  color: #36FEF2;
  text-decoration: underline;
  cursor: pointer;
}
.trait4{
  position: absolute;
  left: 150px;
  top: 340px; /* Ajustez cette valeur pour positionner le trait entre les rectangles 3 et 4 */
  height: 1px;
  width: 260px;
  background-color: #36FEF2;
  transform: rotate(90deg); /* Applique une rotation de 90 degrés */
  z-index: 1; /* Place le cercle devant le formulaire */

}
.trait5{
  position: absolute;
  left: 510px;
  top: 290px; /* Ajustez cette valeur pour positionner le trait entre les rectangles 3 et 4 */
  height: 1px;
  width: 210px;
  background-color: #36FEF2;
  transform: rotate(90deg); /* Applique une rotation de 90 degrés */
  z-index: 1; /* Place le cercle devant le formulaire */

}
.trait6{
  position: absolute;
  left: 420px;
  top: 399px; /* Ajustez cette valeur pour positionner le trait entre les rectangles 3 et 4 */
  height: 1px;
  width: 200px;
  background-color: #36FEF2;
  transform: rotate(180deg); /* Applique une rotation de 90 degrés */
  z-index: 1; /* Place le cercle devant le formulaire */

}
.trait7{
  position: absolute;
  left: 550px;
  top: 499px; /* Ajustez cette valeur pour positionner le trait entre les rectangles 3 et 4 */
  height: 1px;
  width: 200px;
  background-color: #36FEF2;
  transform: rotate(90deg); /* Applique une rotation de 90 degrés */
  z-index: 1; /* Place le cercle devant le formulaire */

}
.text5 {
  position: absolute;
  left: 290px;
  top: 200px;
  color: black;
  font-size: 50px;
  text-transform: uppercase; /* Met le texte en majuscules */
  z-index: 1; /* Place le cercle devant le formulaire */

}
.text6{
  position: absolute;
  left: 390px;
  top: 285px;
  color: black;
  font-size: 40px;
  font-weight: bold;
  text-transform: uppercase; /* Met le texte en majuscules */
  z-index: 1; /* Place le cercle devant le formulaire */

}
.text7 {
  position: absolute;
  left: 290px;
  top: 360px;
  color: black;
  font-size: 50px;
  text-transform: uppercase; /* Met le texte en majuscules */
  z-index: 1; /* Place le cercle devant le formulaire */

}
.text8 {
  position: absolute;
  left: 390px;
  top: 460px;
  color: black;
  font-size: 40px;
  font-weight: bold;
  text-transform: uppercase; /* Met le texte en majuscules */
  z-index: 1; /* Place le cercle devant le formulaire */

}
.background-rectangle img {
  width: 46%; /* Ajustez la largeur de l'image selon vos besoins */
  margin-top: 350px; /* Déplace l'image de 20 pixels vers le bas */
  margin-left: 20px; /* Déplace l'image de 20 pixels vers la droite */
  height: auto; /* Laissez la hauteur se calculer automatiquement pour maintenir les proportions de l'image */
}