<main>
  <button class="btn2" (click)="toggleModal()">Create Purchase Order</button>
  <br><br><br>

  <div *ngIf="!selectedOrder">
    <div class="purchase-order-table-container">
      <table>
        <thead>
          <tr>
            <th>Fournisseur</th>
            <th>Article</th>
            <th>Quantity</th>
            <th>Date</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let order of purchaseOrders">
            <td>{{ order.fournisseurName }}</td>
            <td>{{ order.articleNom }}</td>
            <td>{{ order.quantite }}</td>
            <td>{{ order.date | date: 'mediumDate' }}</td>
            <td>
              <button (click)="generateBonDeCommande(order)">Generate Bon de Commande</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div *ngIf="selectedOrder">
    <app-bon-de-commande [order]="selectedOrder"></app-bon-de-commande>
    <button (click)="closeBonDeCommande()">Close Bon de Commande</button>
  </div>

  <div id="createPurchaseOrderModal" class="modal" [class.show]="showModal">
    <div class="rectangle">
      <span class="close" (click)="closeModal()">&times;</span>
      <form #purchaseOrderForm="ngForm" (ngSubmit)="submitPurchaseOrder()">
        <h2 style="text-align: center;">Create Purchase Order</h2>
        <label for="fournisseur">Fournisseur:</label>
        <input type="text" id="fournisseur" name="fournisseur" [(ngModel)]="newPurchaseOrder.fournisseurName" required>

        <label for="article">Article:</label>
        <input type="text" id="article" name="article" [(ngModel)]="newPurchaseOrder.articleNom" required>

        <label for="quantity">Quantity:</label>
        <input type="number" id="quantity" name="quantity" [(ngModel)]="newPurchaseOrder.quantite" required>

        <button type="submit">Create</button>
      </form>
    </div>
  </div>
</main>
