<div style="pointer-events: none;">
    <!-- Your existing content here -->
    <div class="circle"></div>
    <div class="rectangle"></div>
    <div class="group">
      <div class="mini-group">
          <div class="text">Electronic</div>
          <div class="text">Items</div>
      </div>
      <div class="mini-group">
          <div class="text">Hours</div>
          <div class="text"><strong>24H/24</strong></div>
      </div>
      <div class="mini-group">
          <div class="text">Electronic</div>
          <div class="text">Items</div>
      </div>
    </div>
    <div class="vector"></div>
    <div class="text-decouvrez">
        Découvrez<br>notre<br>univers
    </div>
    <div class="text-services">
        Nous sommes ravis de vous présenter nos services.<br>Soyez les bienvenues.
    </div>
    <button class="btn">Next</button>
  
    <div class="rectangle-noir"></div>
    <div class="rectangle-noir">
        <div class="ellipse-blanc"></div>
        <div class="ellipse-blanc-droite"></div>
        <a href="gestionDroit.html" class="btn-rectangle-noir">Paramétrage</a>
        <a routerLink="bondecommande" class="btn-rectangle-noir-droite">Traitement</a>
      </div>
  
    <div class="cercle-noir"></div>
    <div class="cercle-noir-droite"></div>
    <div class="animated-rectangle"></div>
    <div class="animated-rectangle1"></div>
    <a href="gestionDroit.html" target="_blank">
        <div class="animated-rectangle-behind" data-content="Pc Portable"></div>
    </a>
    <div class="animated-rectangle-behind2" data-content="Ultrabooks"></div>
    <div class="animated-rectangle-behind3" data-content="Pc burreau"></div>
    <div class="animated-rectangle-behind4" data-content="Ordinateur de jeu"></div>
  
    <div class="rectangle-en-bas">
      <a href="gestionDroit.html"><button class="btn-ajouter">Ajouter</button></a>
    </div>
  
    <div class="cercle"></div>
  <h1 style="position: relative; top: 1938px; left: 785px;">Explorez</h1>
  <h1 style="position: relative; top: 1880px; left: 920px;">notre gamme</h1>
  <h1 style="position: relative; top: 1870px; left: 780px;">D'articles informatiques</h1>
  <h3 style="position: relative; top: 1950px; left: 685px; font-weight: normal; text-align: justify;">
     <span style="margin-left: 50px;"></span> "Bienvenue sur notre plateforme, dédiée à l'univers informatique.
      <br> Découvrez une sélection soigneusement choisie d'articles informatiques <br> provenant de fournisseurs de confiance. Nous sommes fiers de vous offrir <br> des produits de qualité et un service exceptionnel, pour répondre à vos 
     <br> besoins technologiques."
  </h3>

  
</div>
  