<footer class="footer">
    <div class="footer-column">
     <h3>Horaires</h3>
     <p>Lundi - Vendredi: 8:30 - 17:30</p>
     <p>Samedi: 8:30 - 12:30</p>
     <p>Dimanche: fermé</p>
   </div>

     <div class="footer-column">
    <h3>Contactez nous</h3>
    <p>contact&#64;omegasoft.ma</p>

    <p>05 28 22 15 95</p>
    <p>Agadir Bay, Technopole 2, Bloc E, 4ème étage, Bureau EB 405, 80000, Agadir, Maroc</p>
    </div>
   
    <div class="footer-column social-icons">
    <a href="#"><img src="path-to-facebook-icon.png" alt="Facebook"></a>
    <a href="#"><img src="path-to-whatsapp-icon.png" alt="WhatsApp"></a>
     <a href="#"><img src="path-to-linkedin-icon.png" alt="LinkedIn"></a>
    <a href="#"><img src="path-to-instagram-icon.png" alt="Instagram"></a>
    </div>
    </footer>
