<main *ngIf="order" id="bon-de-commande">
    <div class="header">
      <img style="width: 190px  ;" src="assets/omegalogo.jpeg" alt="Logo">
      <h1>BON DE COMMANDE</h1>
    </div>
  
    <div class="contact-info">
      <div>
        <label>Nom - Prénom :</label>
        <span>{{ order.nom }}</span>
      </div>
      <div>
        <label>Tél. :</label>
        <span>{{ order.phone }}</span>
      </div>
      <div>
        <label>Email :</label>
        <span>{{ order.email }}</span>
      </div>
    </div>
  
    <table class="order-table">
      <thead>
        <tr>
          <th>N° page</th>
          <th>Dénomination de l'article</th>
          <th>Prix unitaire</th>
          <th>Quantité</th>
          <th>Montant</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of order.articles; let i = index">
          <td>{{ i + 1 }}</td>
          <td>{{ item.nom }}</td>
          <td>{{ item.prix }}</td>
          <td>{{ item.quantite }}</td>
          <td>{{ item.total }}</td>
        </tr>
      </tbody>
    </table>
  
    <div class="total">
      <label>TOTAL :</label>
      <span>{{ order.total }}</span>
    </div>
  
    <div class="signature">
      <label>Date et Signature :</label>
      <span>{{ order.date | date: 'mediumDate' }}</span>
    </div>
  </main>
  <br>
  <button (click)="downloadPDF()">Télécharger PDF</button>
  