/* Style the table to fill the width of the container, with a bit of padding */

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #ffffff;
  }
  .logo {
    display: flex;
    align-items: center;
  }
  .logo img {
    width: 250px; /* Adjust as needed */
  }
  .navigation {
    display: flex;
  }
  .navigation a {
    text-decoration: none;
    color: #F99908;
    margin: 0 10px;
    font-weight: bold;
  }
  .navigation a:hover {
    color: #0e0e0e; /* Change hover color as needed */
  }

  
  
  


  .nav-link {
    color: #fff; /* White text for links */
    text-decoration: none; /* No underline */
    margin-left: 20px; /* Space out links */
    transition: color 0.3s ease; /* Transition for hover effect */
  }
  
  .nav-link:hover {
    color: #4caf50; /* Green color on hover */
  }
  