/* Style the table to fill the width of the container, with a bit of padding */
table {
    width: 80%;
    
    
  }
  
  /* Add a light grey background on table headers */
  thead {
    background-color: #f4f4f4;
  }
  
 
  tbody tr:nth-child(odd) {
    background-color: #f9f9f9;
    padding-left: 2rem;
    padding-right: 2rem;
  }
  td{
    padding-left: 2rem;
  }
  
  /* Style for the table header cells */
  th {
    background-color: #F99908;
    color: white;
  }
  
  /* Highlight rows on hover for better readability */
  tbody tr:hover {
    background-color: #f1f1f1;
  }
  /* Global Resets */
  body {
    height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  }
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #ffffff;
  }
  .logo {
    display: flex;
    align-items: center;
  }
  .logo img {
    width: 250px; /* Adjust as needed */
  }
  .navigation {
    display: flex;
  }
  .navigation a {
    text-decoration: none;
    color: #F99908;
    margin: 0 10px;
    font-weight: bold;
  }
  .navigation a:hover {
    color: #0e0e0e; /* Change hover color as needed */
  }

  
  
  .container {
    width: 80%; /* Max width for content */
    margin: 0 auto; /* Center the container */
    display: flex; /* Flex container for alignment */
    justify-content: space-between; /* Distribute space */
    align-items: center; /* Align items vertically */
  }
  
  h1 {
    font-size: 1.8em; /* Large text for the logo */
  }
  .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 99; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}
.show{
  display:block;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

  
  
  .nav-link {
    color: #fff; /* White text for links */
    text-decoration: none; /* No underline */
    margin-left: 20px; /* Space out links */
    transition: color 0.3s ease; /* Transition for hover effect */
  }
  
  .nav-link:hover {
    color: #4caf50; /* Green color on hover */
  }
  #app-root {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    position: relative;
}
  
  
  main {
  flex: 1; /* This will make the main content grow and occupy available space, pushing the footer down */
  overflow-y: auto; /* Allows scrolling within the main content area if content overflows */
}
  button {
    margin-right: 10px;
    padding: 5px 10px;
    background-color: #dd1313; /* Green background for better visibility */
    color: white; /* White text */
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #45a049; /* Darker green on hover */
  }
  
  @media (max-width: 768px) {
    /* Responsive Design for smaller screens */
    .container {
      flex-direction: column; /* Stack items vertically on small screens */
    }
  
    .navigation {
      margin-top: 10px; /* Add some space between logo and navigation */
    }
  
    .nav-link {
      margin: 5px 0; /* Adjust margin for vertical layout */
    }
  }
  