<main>
  <header class="header">
    <div class="logo">
      <!-- Replace with your own image source -->
      <img src="assets/omegalogo.jpeg" alt="OmegaSoft Logo">
    </div>
    <nav class="navigation">
      <a href="#">Connexion</a>
      <a href="#">À propos</a>
      <a href="#">Accueil</a>
      <a href="#">Contactez nous</a>
    </nav>
  </header>
  <div class="suppliers-table-container">
    <h1>{{ title }}</h1>
    <table>
      <thead>
        <tr>
          <th>ID</th>
          <th>nom</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody style="padding-left: 2rem;">
        <tr *ngFor="let fournisseur of fournisseurs">
          <td>{{fournisseur?.fournisseurId}}</td>
          <td>{{fournisseur?.nom}}</td>
          <td>

            <button (click)="DeleteFournisseur(fournisseur.fournisseurId)">Delete</button>
            <button  (click)="toggleModal(); selectFournisseur(fournisseur)">Update</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</main>
  <app-footer ></app-footer>

<!-- Update Fournisseur Modal -->
<div id="updateFournisseurModal" class="modal" [class.show]="showModal">
  <div class="modal-content">
    <span class="close" (click)="closeModal()">&times;</span>
    <form #fournisseurForm="ngForm" (ngSubmit)="submitUpdate(fournisseurForm.value)">
      <h2>Update Fournisseur</h2>
      <label for="fournisseurId">ID:</label>
      <input type="text" id="fournisseurId" name="fournisseurId" [(ngModel)]="selectedFournisseur.fournisseurId" ngModel readonly>
      <label for="nom">Nom:</label>
      <input type="text" id="nom" name="nom" [(ngModel)]="selectedFournisseur.nom" ngModel required>
      <button type="submit">Update</button>
    </form>
  </div>
</div>